{% extends 'base.html.twig' %}

{% block title %}Accueil | Bibliotheque{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Les Livres</h1>

    <ul>
    {% for livre in liste_livres %}
    <li>
         <ul>
            <li><h2>{{ livre.titre }}</h2></li>
            <li><h3>{{ livre.auteur }}</h3></li>
            <li><p>{{ livre.resume }}</p></li>        
         </ul>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
